{% extends 'layouts/base.html.twig' %}

{% block title %}Error | LWT{% endblock %}

{% block content %}
  <div class="main-container">
	<div class="ui equal width grid">
	  <div class="column"></div>
	  <div class="column">
	  	<h1>{{ "Error"|trans }}</h1>
		<h3>{{ "Oop! Something Goes Wrong."|trans }}</h3>
	  </div>
	  <div class="column"></div>
	</div>
  </div>

{% endblock %}